<!DOCTYPE html>
<html ng-app="ShoppingListDirectiveApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Directives with "restrict"</title>
  </head>
  <body>
    <h1>Template Expanding Directive</h1>
    <div id="list1" ng-controller="ShoppingListController1 as list">
      <h3>Shopping list #1</h3>
      <input type="text" ng-model="list.itemName" placeholder="Item Name">
      <input type="text" ng-model="list.itemQuantity" placeholder="Item Quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <list-item ng-repeat="item in list.items"></list-item>
        <!-- <div list-item ng-repeat="item in list.items"></div> will not work as it is restricter to only an element-->
      </ol>
      <div ng-if="list.errorMessage" class="error">Error: {{list.errorMessage}}</div>
    </div>

    <div id="list2" ng-controller="ShoppingListController2 as list">
      <h3>Shopping List #2 (limited to 3 items)</h3>
      <input type="text" ng-model="list.itemName" placeholder="Item Name">
      <input type="text" ng-model="list.itemQuantity" placeholder="Item Quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <list-item ng-repeat="item in list.items"></list-item>
      </ol>
      <div ng-if="list.errorMessage" class="error">Error: {{list.errorMessage}}</div>
    </div>
  </body>
</html>
